:root{
    --max-width: 1002px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0B1D26;

}
.both{
    background-image: linear-gradient(to bottom right, rgba(12, 32, 41, 0.2), rgba(12, 32, 41, 0.5)), url('Group 18.png');
    background-size: 1440px; 
    background-repeat: no-repeat;
    width: auto;
    height: 1300px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Gilroy';
}
.nav .navmid{
    display: flex;
    gap: 20px;
}
.mid{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.midfirst{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
}
.hr{
    background-color: #FBD784;
    width: 42px;
    height: 3px;
    margin-top: 25px;
}
.midmid{
    gap: 10px;
}
.middmid{
    gap: 10px;
    background-image: linear-gradient( rgba(224, 224, 224, 0),rgb(8, 33, 33), rgba(11, 29, 38, 1.0)80%);
}
.midmidfirst{
    display: flex;
    color: #FBD784;
    margin-top: -100px;
    margin-left: 70px;
}
.middmidfirst{
    display: flex;
    color: #FBD784;
}
.bigprints{
    font-size: 40px;
    color: white;
    font-family: 'Chronicles Display';
    margin-top: 7px;
    margin-bottom: 3px;
}
.smallprints{
    color: white;
    font-size: 20px;
}
.startprints{
    color: white;
}
.readmore{
    color: #FBD784;
}
.vgmountain{
    width: 100%;
    height: 550px;
}
.allflex {
    background-image: linear-gradient( rgba(224, 224, 224, 0),rgb(8, 33, 33), rgba(11, 29, 38, 1.0)20%);
}

.allflex .firstflex, footer {
    width: 80%;
    margin: auto;
}
.allflex, footer{
    margin-top: -140px;
    color: white;
}
.watermark{
    font-size: 130px;
    color: rgb(136, 131, 123);
    z-index: 999;
    opacity: 0.3;
    /* position: fixed; */
    top: -5rem;
    bottom: -2rem;
}
.firstflex{
    display: flex;
    gap: 2rem;
}
.txt{
    font-size: 30px;
}
ul{
    list-style: none;
}
li:first-child{
    color: #FBD784;
}
footer{
    display:flex;
    justify-content: space-between;
    padding-top: 10em;
}